

.longueur {
  height: 53px;
}
.image {
  width: 35%;
}

.align-self-center {
 display: flex;
 justify-content: center;
 align-items: center; 
}
Body{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}